<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- <h>helllooooo</h>
    <p>hiii its meee,i am learnerrr and i am <%=name %></p>
    <p>hiii its meee,i am learnerrr and i am <%=locals.name %></p>
    <p><%=90+10 %></p> -->


    <!-- now we will make one form -->

    <main>
        <!-- action matlb form submit hote hi usko kis end point pr hit krna h -->
        <!-- <form method="post">  

            <h1>contact now</h1>
            <input type="text",name="name" placeholder="Name" />
            <input type="email",name="email" placeholder="Email" />
            <button type="submit">send message</button>
             
        </form> -->
    
 <!-- action me hme route specify krna h,nhi kia to by default lega wo  -->
        <form action="/contact" method="POST">   
            <h1>contact now</h1>
            <input type="text" name="name" placeholder="Your Name">
            <input type="email" name="email" placeholder="Your Email">
            <button type="submit">Send Message</button>
        </form>
        
    </main>
</body>
</html>